#review-card {

    .review-comment {
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        line-height: normal;

    }

    .review-rating {
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
        line-height: normal;

    }

    .review-by {
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        line-height: normal;

    }
}